body {
    min-width: 250px;
    max-width: 300px;
    line-height: 0.7em;
}


/* http://monopocket.jp/blog/css/1587/ */

button.button_1 {
    /* 文字サイズを1.4emに指定 */
    font-size: 1.4em;
    /* 文字の太さをboldに指定 */
    font-weight: bold;
    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 10px 30px;
    /* 背景色を濃い青色に指定 */
    background-color: #248;
    /* 文字色を白色に指定 */
    color: #FFF;
    /* ボーダーをなくす */
    border-style: none;
    /* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /* ボタンの影の指定 */
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
}

button.button_1:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    /*下に動く*/
    border-bottom: none;
    /*線を消す*/
}

button.button_2 {
    /* 文字サイズを1.0emに指定 */
    font-size: 1.0em;
    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 4px 12px;
    /* 背景色を濃い青色に指定 */
    background-color: #248;
    /* 文字色を白色に指定 */
    color: #FFF;
    /* ボーダーをなくす */
    border-style: none;
    /* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /* ボタンの影の指定 */
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
}

button.button_2:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    /*下に動く*/
    border-bottom: none;
    /*線を消す*/
}